.form-wrapper{
    background-color: #eee;
    width: 500px;
    padding: 10px;
    margin: 50px auto;
}
nav{
    position: sticky !important;
    top: 0;
}
.img-area {
    width: 100%;
}
.image-properties{
    width: 300px;
    height: 200px;
    object-fit: contain;
}
.unitofmeasurment-wrapper,.measurmentNumberWrapper{
    display: none;
}
.count-p{
    width: 50% !important;
}
.unit-p{
    width: 50%;
}
p{
    margin: 0;
}
p.text-center{
    font-size: 23px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.389);
}
.opcc-wrapper{
    display: none;
}