.form-wrapper{
    width: 500px;
    background-color: #fff;
    padding: 15px;
}
nav{
    position: relative !important;
    top: 0;
}
.img-area {
    width: 100%;
}
.image-properties{
    width: 300px;
    height: 200px;
    object-fit: contain;
}
.unitofmeasurment-wrapper,.measurmentNumberWrapper{
    display: none;
}
.count-p{
    width: 50% !important;
}
.unit-p{
    width: 50%;
}
p{
    margin: 0;
}
p.text-center{
    font-size: 23px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.389);
}
.opcc-wrapper{
    display: none;
}
nav{
   background-color: #283D4B!important;
}
nav>div>ul>li > a {
   color: #FAFAFC !important;

}
th,td{
    text-align: center;
    vertical-align: middle !important;
}
.product-img-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.custommodal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
}

.layout{
    background-color: rgb(253, 253, 253);
    width: 500px;
    height: 850px;
    border-radius: 0 8px 8px 0;
    margin: 0 auto;
}
.closeModal{
    cursor: pointer;
    background-color: gray;
   vertical-align: middle;
   text-align: center;
   margin: 5px;
   border-radius: 4px;
   /* padding: 0px 10px; */
}
.closeModal>p{
    padding: 0px 10px;
    font-size: 18px;
    font-weight: 600;
}
.closeModal :hover{
    background-color: #000;
   border-radius: 4px;
   transition: .2s ease-in;

}
.custommodal>div{
    
    display: flex;
    margin: 50px auto;
    top: 10%;
}
.equal {
    font-size: 20px;
}

.codes{
    width: 60px !important;

    overflow: auto !important;
}
.preview{
    /* height: 200px; */
    height: 850px;
    font-size: 22px;
    /* width: 150px; */
    border-radius: 8px 0 0 8px;
    word-wrap: break-word;
    width: 500px;
    padding: 30px;
    color: #ffffffa5;
    background-color: rgb(8, 79, 130);
}
.preview>p{
    line-height: 40px;
    letter-spacing: 1px;
}
span.val{
    color: #ccb010;
    padding: 10px;
}
#preview-img{
    width: 200px;
}
input,select {
    height: 35px !important;
}
nav{
    /* position: absolute !important; */
    /* top: 0; */
}
.custom-file-input:focus ~ .custom-file-label{color:#495057;background-color:#fff;border-color:#80bdff;outline:0;box-shadow:0 0 0 .2rem rgba(0,123,255,.25)}


.exportmodal{
    position: fixed;
    z-index: 300;
    display: flex;
    width: 100%;
    background-color: #00000085;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.export-layout{
    width: 85%;
    overflow-y: auto;
    height: 85%;
    border-radius: 8px;
    background-color: #eeeeeef6;
}
.export-layout>div{
    padding: 10px;
    display: flex;
    justify-content: end;
}
.closeExport{
    cursor: pointer;
    padding: 3px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #FAFAFC;
    width: 35px;
    font-size: 22px;
    font-family: sans-serif;
}
.selecttype{
    width:20%!important;
}
.export-layout>table{
    width: 85%;
    margin: 0 auto;
}