<div class="increase-wrapper">
    <div class="card">
        <input type="text" style="display:none"  disabled class="objidinp">
        <div>
            <div class="closeIncrease close">x</div>
        </div>
        <div class="name">Məhsul Adı:       <span> Stekan seymur </span> </div>
        <div class="count">Məhsul Sayı:     <span> 16</span> </div>
        <div class="unit1">Ölçü1:          <span> Ed</span> </div>
        <div class="unit2">Ölçü2:          <span> Ed</span> </div>
        <div class="cost-p">Alış Qiymeti:   <span> 18.20 AZN</span> </div>
        <div class="cost-s">Satış Qiyməti:  <span> 22 AZN</span> </div>
        <div class="barcodes">Barkodlar :   <span class="codes">99808780625,99808780625,99808780625</span> </div>
        <div class="img-area">
            <!-- <img src="/img" alt=""> -->
        </div>
        <div class="form-group">
            <label for="productcount">Gələn Məhsul Sayı</label>
            <input type="number" placeholder="Gelen Mehsul Sayi:" id="product-count" class="form-control">
        </div>
        <div class="form-group">
            <label for="alter-code">Alternatif Barkod</label>
            <input type="number" placeholder="Alternatif Barkod:" id="alter-code" class="form-control">
        </div>
        <div>
            <button class="btn btn-secondary  update-cost">
                Göndər
            </button>
        </div>
    </div>
</div>

</div>
<script src="/js/increase/index.js"></script>
