<header class="contain">
  <nav>
    <div class="burger-icon">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
    <ul id="menu">
      <li>Məhsullar </li>
      <li class="dropdown-links">Məhsul əməliyyatları <img src="/icons/arrow.png" class="dropdown-arrow"
          alt="arrow">
        <ul id="sub-menu">
          <li class="insert-product-link"><a href="#"> Anbara Yaz</a></li>
          <li class="decrease-product-link"><a href="#"> Məxaric</a></li>
          <li class="increase-product-link"><a href="#"> Mədaxil</a></li>
        </ul>
      </li>
      <li class="dropdown-links">Fakturalar <img src="/icons/arrow.png" class="dropdown-arrow" alt="arrow">
        <ul id="sub-menu">
          <li><a href="#"> Məxaric Fakturaları</a></li>
          <li><a href="#"> Mədaxil Fakturaları</a></li>
        </ul>

      </li>
      <li>Print</li>
    </ul>
    <ul id="icons">
      <li class="profile-icon"><img src="/icons/profile-icon.svg" alt="">
        <div class="profile-wrapper">
          <ul id="profile-info">
            <li>Admin</li>
            <li>Jamil Aghazada</li>
            <div class="square"></div>

          </ul>


        </div>
      </li>
      <li class="basket-icon"><img src="/icons/basket-icon.svg" alt="">
        <div class="basket-wrapper"></div>
      </li>
    </ul>
  </nav>
</header>