<link rel="stylesheet" href="/css/nav.css">
<header class="contain">
  <nav>
    <div class="burger-icon">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
    <ul id="menu">
      <li><a href="/products">Məhsullar</a> </li>
      <li><a class="orders-link" href="/orders">Sifarisler <span><%-orders%></span></a> </li>

      <li class="dropdown-links"><a href="/bills">Fakturalar</a> </li>
     <li><a href="/products/product-barcodes">Barkodlar</a></li>
     <li><a href="/barcodes">Sonuncu Məhsul Barkodları</a></li>


    </ul>
    <ul id="icons">
      <li><a href="/products"></a> </li>

   
    </ul>
   <ul id="menu">
     <li><%-user%></li>

     <li><a href="/logout">Çıxış</a></li>

  </ul>
  </nav>
</header>