@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
:root {
  --bodyColor: #12192c;
  --mainFont: "Montserrat", sans-serif;
}
* {
  font-family: var(--mainFont) !important;
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  list-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

/* !body */
body {
  background-color: var(--bodyColor);
}
.contain {
  width: 95%;
  margin: 0 auto;
}



/* ?quick search */
#quick-search {
  height: 75px;
  border-radius: 22px;
  position: relative;
  outline: none;
  background: rgba(217, 217, 217, 0.45);
  border: 0.686117px solid #ffffff;
  color: #fff;
  margin-top: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
#quick-search > input {
  width: 95%;
  background-color: transparent;
  border: none;
  outline: none;
  height: 100%;
  font-size: 22px;
  color: #fafafa;
}
.search-answer-wrapper {
  margin-top: 50px;
  height: 550px;
  background: rgba(217, 217, 217, 0.45);
  border-radius: 33px;
}
#quick-search > input::placeholder {
  font-size: 22px;
  color: #fafafa;
}

#search-icon {
  height: 40px;
}
/* ?BASKET */

.basket-wrapper {
  opacity: 0;
  top: 130px;
  height: 780px;
  position: absolute;
  right: calc(2.5% + 10px);
  width: 500px;
  border-radius: 33px;
  background-color: rgba(217, 217, 217, 0.45);
  transition: 0.3s ease-in-out;
}
.basket-icon { 
  cursor: pointer;
}


/* ? queries */

@media screen and (max-width: 925px) {
 

 
  .basket {
    margin-right: 20px;
  }
  .contain {
    width: 100%;
  }



}

@media screen and (min-width: 1340px) {
  .moveToRight {
    transform: translateX(-50%);
    transition: 0.3s ease;
  }
  .moveToLeft {
    transform: translateX(0%);
    transition: 0.3s ease;
  }
  .basket {
    margin-right: 15px;
  }
}

@media screen and (max-width: 1339px) {
  .basket-wrapper {
    width: 80%;
    right: 10%;
    left: 10%;
    background-color: #fafafa;
    z-index: 100;
  }

}
@media screen and (max-width: 576px) {
  .basket-wrapper {
    width: 90%;
    right: 5%;
    left: 5%;
  }

}
