<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./assets/scss/main.css" />
    <title>Admin-Panel</title>
  </head>
  <body>
    <main>
      <!-- ----------------------------- admin start ----------------------------- -->
      <section class="admin-panel">
        <div class="admin-left">
          <div class="admin-logo">
            <img src="./assets/images/admin-logo.png" alt="" />
            <h1 class="header">WareHouse</h1>
          </div>
          <div class="choices">
            <div class="admin-statistics-btn">
              <div class="statistic-btn-in">
                <i class="fa-solid fa-house"></i>
                <p class="statistic">Statistika</p>
              </div>
            </div>
            <div class="admin-users-btn">
              <div class="user-btn-in">
                <i class="fa-solid fa-user-group"></i>
                <p class="users">İstifadəçilər</p>
              </div>
            </div>
          </div>
          <div class="logout">
            <div class="logout-btn">
              <i class="fa-solid fa-arrow-right-from-bracket"></i>
              <p class="sign-out">Çıxış</p>
            </div>
          </div>
        </div>
        <div class="admin-right">
          <div class="title-for-info">
            <div class="peoples">
              <h1 class="number-of-people">3</h1>
              <p>Peoples</p>
            </div>
            <div class="departments">
              <h1 class="number-of-department">2</h1>
              <p>Departments</p>
            </div>
            <div class="guests">
              <h1 class="number-of-guest">0</h1>
              <p>Guests</p>
            </div>
          </div>
          <div class="search-section">
            <label class="search-label">
              <i class="fa-solid fa-magnifying-glass"></i>
              <input class="search-input" type="text" placeholder="Axtar" />
            </label>
            <div class="invite-btn">
              <div class="invite-btn-in">
                <i class="fa-solid fa-user-plus"></i>
                <p>Dəvət edin</p>
              </div>
            </div>
            <div class="other-btn">
              <div class="other-btn-in">
                <i class="fa-solid fa-ellipsis-vertical"></i>
              </div>
            </div>
          </div>
          <div class="users-table-section">
            <div class="user-table">
              <table class="table">
                <tr class="table-tr-head">
                  <th class="for-checkbox">
                    <input type="checkbox" />
                    <span>İstifadəçi</span>
                  </th>
                  <th>Telefon</th>
                  <th>Vəzifə</th>
                  <th>Şöbə</th>
                  <th>İcazələr</th>
                </tr>
                <tr class="table-list-colored">
                  <td class="for-checkbox">
                    <input type="checkbox" />
                    <span>Ağazadə Cəmil</span>
                  </td>
                  <td>+994559998877</td>
                  <td>Satıcı</td>
                  <td>Pride 1</td>
                  <td>Reading <i class="fa-solid fa-chevron-down"></i></td>
                </tr>
                <tr class="table-list">
                  <td class="for-checkbox">
                    <input type="checkbox" />
                    <span>Ağazadə Cəmil</span>
                  </td>
                  <td>+994559998877</td>
                  <td>Satıcı</td>
                  <td>Pride 1</td>
                  <td>Reading <i class="fa-solid fa-chevron-down"></i></td>
                </tr>
                <tr class="table-list-colored">
                  <td class="for-checkbox">
                    <input type="checkbox" />
                    <span>Ağazadə Cəmil</span>
                  </td>
                  <td>+994559998877</td>
                  <td>Satıcı</td>
                  <td>Pride 1</td>
                  <td>Reading <i class="fa-solid fa-chevron-down"></i></td>
                </tr>
                <tr class="table-list">
                  <td class="for-checkbox">
                    <input type="checkbox" />
                    <span>Ağazadə Cəmil</span>
                  </td>
                  <td>+994559998877</td>
                  <td>Satıcı</td>
                  <td>Pride 1</td>
                  <td>Reading <i class="fa-solid fa-chevron-down"></i></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </section>
      <!-- ------------------------------ admin end ------------------------------ -->
    </main>

    <!-- MY JS -->
    <script src="./assets/js/preventLinks.js"></script>

    <!-- FontAwesome -->
    <script
      src="https://kit.fontawesome.com/46a0505f50.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
