<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WareHouse || depo for stores</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/css/home.css">
</head>
<body>
    <!-- ? navbar start -->
    <header>
        <!-- ? burger menu start -->
        <div class="burger-menu">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <!-- ! burger menu end -->
        <!-- ? navbar conten start -->
        <nav class="contain">
            <ul class="nav-items nav-links">
                <li class="nav-item">Məhsullar</li>
                <li class="nav-item">Məhsul əməliyyatları <span><img src="./assets/icons/arrow.png" alt=""></span></li>
                <li class="nav-item">Fakturalar <span><img src="./assets/icons/arrow.png" alt=""></span></li>
                <li class="nav-item">Print <span><img src="./assets/icons/arrow.png" alt=""></span></li>
            </ul>
            <div class="nav-items nav-icons">
                <div>
                    <div class="basket"><img src="./assets/icons/basket-icon.svg" class="basket-icon" alt=""></div>
                    <div class="basket-wrapper"></div>
                </div>
                <div class="profile"><img src="./assets/icons/profile-icon.svg" alt="" ></div>
            </div>
        </nav>
        <!-- ! navbar conten end -->
    </header>
    <!--! navbar end -->
    <!-- ?quick search start -->
        <div class="quick-search-wrapper contain">
            <div class="d-flex t justify-content-center align-items-center ">
                <div type="text" id="quick-search" class="col-md-5 col-sm-9 col-10 animate-to-left">
                    <input type="text" maxlength="50" placeholder="Axtar ...">
                    <img src="./assets/icons/search-icon.svg" alt="">
                </div>
                
            </div>
            <div class="d-flex  justify-content-center align-items-center">
                <div class="col-md-5 col-sm-9 col-10 search-answer-wrapper animate-to-left ">
                </div>
            </div>
        </div>

<!-- !quick search end -->

    <!-- ?scripts -->
    <script src="./assets/js/home.js"></script>
</body>
</html>