<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WareHouse || depo for stores</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./assets/css/nav.css">

    <link rel="stylesheet" href="./assets/css/home.css" />
  </head>
  <body>
   <!-- ? header start -->
    <header class="contain">
      <nav>
        <div class="burger-icon">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
        <ul id="menu">
          <li>Məhsullar </li>
          <li class="dropdown-links">Məhsul əməliyyatları
            <ul id="sub-menu">
              <li><a href="#"> Anbara Yaz</a></li>
              <li><a href="#"> Məxaric</a></li>
              <li><a href="#"> Mədaxil</a></li>
            </ul>
          </li>
          <li class="dropdown-links">Fakturalar  
            <ul id="sub-menu">
              <li><a href="#"> Məxaric Fakturaları</a></li>
              <li><a href="#"> Mədaxil Fakturaları</a></li>
          </ul>  
          
          </li>
          <li>Print</li>
        </ul>
        <ul id="icons">
          <li class="profile-icon"><img src="./assets/icons/profile-icon.svg" alt="">
            <div class="profile-wrapper">
              <ul id="profile-info">
                <li>Admin</li>
                <li>Jamil Aghazada</li>
              <div class="square"></div>

              </ul>
              
             
            </div>
          </li>
          <li class="basket-icon"><img src="./assets/icons/basket-icon.svg" alt="">
            <div class="basket-wrapper"></div>
          </li>
        </ul>
      </nav>
    </header>
   <!-- ! header end -->
    <!-- ?quick search start -->
    <div class="quick-search-wrapper contain">
      <div class="d-flex t justify-content-center align-items-center">
        <div
          type="text"
          id="quick-search"
          class="col-md-5 col-sm-9 col-10 animate-to-left"
        >
          <input type="text" maxlength="50" placeholder="Axtar ..." />
          <img id="search-icon" src="./assets/icons/search-icon.svg" alt="" />
        </div>
      </div>
      <div class="d-flex justify-content-center align-items-center">
        <div
          class="col-md-5 col-sm-9 col-10 search-answer-wrapper animate-to-left"
        ></div>
      </div>
    </div>

    <!-- !quick search end -->

    <!-- ?scripts -->
    <script src="./assets/js/home.js"></script>
    <!-- <script src="./assets/js/preventLinks.js"></script> -->
  </body>
</html>
