<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./assets/scss/main.css" />
    <title>Invoice</title>
  </head>
  <body>
    <!-- ---------------------------- NavBar Start ----------------------------- -->
    <!-- <header class="invoice-header">
      <nav class="nav-bar">
        <div class="container">
          <div class="nav-center">
            <div class="nav-left">
              <ul class="left-list">
                <li class="list-item">Məhsullar</li>
                <li class="list-item">
                  Məhsul əməliyyatları <i class="fa-solid fa-chevron-down"></i>
                </li>
                <li class="list-item">
                  Fakturalar <i class="fa-solid fa-chevron-down"></i>
                </li>
                <li class="list-item">Print</li>
              </ul>
            </div>
            <div class="nav-right">
              <ul class="right-icons">
                <li class="list-icon">
                  <i class="fa-solid fa-basket-shopping"></i>
                </li>
                <li class="list-icon">
                  <i class="fa-regular fa-circle-user"></i>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header> -->
    <!-- ----------------------------- NavBar End ------------------------------ -->

    <!-- ----------------------------- Main Start ------------------------------ -->
    <main class="invoice-main">
      <section class="invoice-section-in">
        <div class="container">
          <div class="row">
            <div class="invoice-card-side">
              <div class="invoice-card">
                <div class="card-head">
                  <h1 class="subheading">Qaimə Faktura</h1>
                  <div class="invoice-date">
                    <p>WareHouse</p>
                    <p>Tarix: 04/03/2003</p>
                  </div>
                </div>
                <div class="card-table-head">
                  <div class="table-head-caption">
                    <div class="caption-in">
                      <p class="bold">Satıcı</p>
                      <p>Depo</p>
                    </div>
                    <div class="caption-in">
                      <p class="bold">Alıcı</p>
                      <p>Roman İsmayılov</p>
                    </div>
                    <div class="caption">
                      <p class="bold">Sifarişçi</p>
                      <p>Elşən Ağayev</p>
                    </div>
                  </div>
                </div>
                <div class="card-table">
                  <table class="table">
                    <tr class="table-tr-head">
                      <th>№</th>
                      <th>Description</th>
                      <th>Yerlər</th>
                      <th>Miqdar</th>
                      <th>Qiymət</th>
                      <th>Məbləğ</th>
                      <th>Əlavə Qeydlər</th>
                    </tr>
                    <tr class="table-list">
                      <td>1.</td>
                      <td>Stəkan №3</td>
                      <td>48</td>
                      <td>2</td>
                      <td>3</td>
                      <td>6</td>
                      <td>Çin</td>
                    </tr>
                    <tr class="table-list">
                      <td>2.</td>
                      <td>Bugatti</td>
                      <td>36</td>
                      <td>6</td>
                      <td>6</td>
                      <td>36</td>
                      <td>İtaliya</td>
                    </tr>
                    <tr class="table-list">
                      <td>3.</td>
                      <td>Yazqulaq</td>
                      <td>24</td>
                      <td>14</td>
                      <td>34</td>
                      <td>3169</td>
                      <td>İsrail</td>
                    </tr>
                    <tr class="table-list">
                      <td>4.</td>
                      <td>Petrol</td>
                      <td>48</td>
                      <td>8</td>
                      <td>57</td>
                      <td>242</td>
                      <td>Almaniya</td>
                    </tr>
                  </table>
                </div>
                <div class="card-table-price">
                  <div class="table-first-price">
                    <div class="price-in">
                      <div class="price">
                        <p class="title">Cəmi</p>
                        <p class="amount">2000 AZN</p>
                      </div>
                      <div class="value-added">
                        <p class="title">ƏDV</p>
                        <p class="amount">56 AZN</p>
                      </div>
                    </div>
                  </div>
                  <div class="table-total-price">
                    <div class="total-price-in">
                      <div class="price">
                        <p class="title">Yekun</p>
                        <p class="total-amount">2056 AZN</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-info">
                  <div class="info-title">
                    <p class="title">Əlqasımın Maşını 926</p>
                    <p class="title">0555553155</p>
                  </div>
                  <div class="info-barcode">
                    <div class="info-text">
                      Əlavə məlumat üçün cemil.agayev@bk.ru addresinə müraciət
                      edə bilərsiniz.
                    </div>
                    <div class="barcode">
                      <div class="barcode-title">
                        <span class="bold">INVOICE #</span>
                        <span>49056</span>
                      </div>
                      <div class="barcode-title">
                        <span class="bold">INVOICE DATE</span>
                        <span>DD/MM/YYYY</span>
                      </div>
                      <div class="barcode-image">
                        <img src="./assets/images/barcode.png" alt="" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- ------------------------------ Main End ------------------------------- -->

    <!-- MY JS -->
    <script src="./assets/js/preventLinks.js"></script>

    <!-- FontAwesome -->
    <script
      src="https://kit.fontawesome.com/46a0505f50.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
