<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./assets/scss/main.css" />
    <title>Login</title>
  </head>
  <body>
    <main>
      <!-- --------------------------- Login start ---------------------------- -->
      <section class="login">
        <div class="container">
          <div class="row">
            <div class="left-side">
              <img src="./assets/images/Frame 1.png" alt="" />
            </div>
            <div class="right-side">
              <div class="right-side-inner">
                <form>
                  <div class="caption">
                    <h3 class="account">Hesaba daxil olun</h3>
                    <p class="caption-text">
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry.
                    </p>
                  </div>
                  <div class="input-field">
                    <input
                      class="ui-input"
                      type="text"
                      name="text"
                      placeholder="Ad, Soyad"
                      required
                    />
                    <input
                      class="ui-input"
                      type="password"
                      name="password"
                      placeholder="Şifrə"
                      required
                    />
                  </div>
                  <div class="btn-action">
                    <button class="btn-continue" type="submit">Davam et</button>
                  </div>
                  <div class="personal-help">
                    <p class="help-text">
                      Hesabınız yoxdur ?
                      <a href="./register.html"
                        >Qeydiyyatdan keçin
                        <i class="fa-solid fa-arrow-right"></i
                      ></a>
                    </p>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- ---------------------------- Login end ----------------------------- -->
    </main>

    <!-- MY JS -->
    <script src="./assets/js/preventLinks.js"></script>

    <!-- FontAwesome -->
    <script
      src="https://kit.fontawesome.com/46a0505f50.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
