<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="./home.css">
 <!-- ? navbar start -->
 <header>
    <!-- ? burger menu start -->
    <div class="burger-menu">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <!-- ! burger menu end -->
    <!-- ? navbar conten start -->
    <nav class="contain">
        <ul class="nav-items nav-links">
            <li class="nav-item">Məhsullar</li>
            <li class="nav-item">Məhsul əməliyyatları <span><img src="./icons/arrow.png" alt=""></span></li>
            <li class="nav-item">Fakturalar <span><img src="./icons/arrow.png" alt=""></span></li>
            <li class="nav-item">Print <span><img src="./icons/arrow.png" alt=""></span></li>
        </ul>
        <div class="nav-items nav-icons">
            <div>
                <div class="basket"><img src="./icons/basket-icon.svg" class="basket-icon" alt=""></div>
                <div class="basket-wrapper"></div>
            </div>
            <div class="profile"><img src="./icons/profile-icon.svg" alt="" ></div>
        </div>
    </nav>
    <!-- ! navbar conten end -->
</header>
<!--! navbar end -->