<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="./public/css/style.css">
<style>
    *{
        padding: 0;
        margin: 0;
    }
    .decrease-modal{
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.59);
    }
    .decrease-modal>.layout{
        padding: 10px;
        height: auto;
        width: 350px;
        background-color: #fff;
        border-radius: 8px;
    }
    .export-img>img{
        width: 110px;
    }
    .export-img{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    .text-center{
        text-align: center;
    } 
    .export-text{
        padding: 8px;
        font-size: 16px !important;
    }
</style>
<div class="decrease-modal">
    <div class="layout">
        <!-- !close -->
        <div class="el-end p-1">
            <div class="close">x</div>
        </div>
        <!-- !img -->
        <div class="export-img">
            <img src="./public/img/vedre.png" alt="">
        </div>
        <!-- !title -->
        <p class="text-center export-text">Vedre Aliminyum</p>
        <p class="text-center export-text">Barkod: 998080520</p>
        <p class="text-center export-text">Qiymet: 12.08azn</p>
        <p class="text-center export-text">Ölçü Vahidi: paçka</p>
        <!-- *buttons -->
       <div class="el-center">
        <input type="number" placeholder="Sayi" class="export-product-count  form-control">
       </div>
       <div class="units-wrapper">
        <p class="text-center export-text"> 1 packa = 3 eded</p>
       </div>
    </div>
</div>